/* We use STIX fonts here in our web application,
refer https://www.stixfonts.org/. Note that MathJax also uses
STIX fonts, but will load it seperately and not via below */

@font-face {
	font-family: 'STIX Two Math Regular';
	src: url('fonts/STIXTwoMath-Regular.woff2') format('woff2');
}

@font-face {
	font-family: 'STIX Two Text';
	src: url('fonts/STIXTwoText-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'STIX Two Text';
	src: url('fonts/STIXTwoText-Bold.woff2') format('woff2');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'STIX Two Text';
	src: url('fonts/STIXTwoText-Italic.woff2') format('woff2');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'STIX Two Text';
	src: url('fonts/STIXTwoText-BoldItalic.woff2') format('woff2');
	font-weight: bold;
	font-style: italic;
}

/* For the Print Style Sheet, we only want to show the preview
page, so all other pages are hidden */
@media print { 
	#github, #star, #mathjax-logo, #top-gutter, #second-gutter, #editor-button,
#preview-button, #shortcut-button, #help-button, #third-gutter, #char {
		display: none !important;
	}
}

/* For smaller screens, making some adjustments to make
the content fit better */
@media screen and (max-width: 1000px) {
	#mathjax-logo { display: none !important; }
	.button { font-size: 0.9rem !important;	}
	table { width: 90% !important; font-size: 0.8rem !important; }
	main {
		grid-template-areas:
		"github github star star"
		"top-gutter top-gutter top-gutter top-gutter"
		"second-gutter second-gutter second-gutter second-gutter"
		"editor-button preview-button shortcut-button help-button"
		"third-gutter third-gutter third-gutter third-gutter"
		"main-screen main-screen main-screen main-screen" !important;
	}
}

html {
	font-family: 'Stix Two Text', 'Stix Two Math Regular', Serif;
	font-size: 100%;
	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}

body { margin: 0px; font-family: 'Stix Two Text', 'Stix Two Math Regular', Serif; }

/* Generic Table formatting */
table {
	border: 1px solid black;
	border-collapse: collapse;
	width: 75%;
	text-align: left;
	table-layout: fixed;
}

/* Add black border to all table cells */
th, td { border: 1px solid black; padding: 10px; }

/* Add blue background to table headers */
th { background-color: #97C0EA; }

/* Custom styling for <mark> tag. Allows us to create the nice
"Editor Tab", "Preview Tab", etc. tags in the Read Me */
mark {
	color: white;
	font-weight: bold;
	background-color: #1976D2;
	display: inline-block;
	padding: 4px;
	margin: 4px;
	border-radius: 4px;
	min-width: 100px;
	text-align: center;
	cursor: pointer;
}

/* Custom styling for <mark-grey> tag. Allows us to create the nice
buttons for keyboard shortcuts */
mark-grey {
	color: black;
	font-weight: bold;
	background-color: #fafafa;
	display: inline-block;
	padding-left: 6px;
	padding-right: 6px;
	border-radius: 4px;
	min-width: 100px;
	text-align: center;
	cursor: pointer;
}

/* Adding our theme blue color to the MathJax recommended code in the Read Me */
code { color: #1976D2; }

/* Custom HTML tag for quickly typing blue text in the Read Me */
w { color: blue; }

/* To dynamically (automatically) adjust the row / column size 
for our tables in the Read Me */
.table-tutorial { table-layout: auto; }

/* Center the column headers for our shortcuts table */
.shortcut-table { text-align: center; }

/* Styling for the four navigation buttons (Editor, Preview, Shortcuts, Read Me) */
.button {
	text-align: center;
	display: flex;
	justify-content: center;
  	align-items: center;
  	border-radius: 4px;
  	border: 1px solid #1976D2;
  	cursor: pointer;
}

/* Color of navigation buttons when active */
.bt-active {
	background-color: #1976D2;
	color: white;
}

/* Color of navigation buttons when not active */
.bt-inactive {
	background-color: white;
	color: #1976D2;
}

/* Color on However of navigation buttons when not active */
.bt-inactive:hover {
	background-color: #97C0EA;
	border: 1px solid #1976D2;
	color: white;
}

/* Styloing for buttons in Char Map */
.dark-char-button {
	text-align: center;
	display: flex;
	justify-content: center;
  	align-items: center;
  	border-radius: 4px;
  	border: 1px solid rgb(200,203,207);
  	cursor: pointer;
	background-color: rgb(200,203,207);
	color: black;
	padding: 4px !important;
	margin: 4px !important;
	font-size: 1.25rem;

}

/* Styling for buttons in Char Map when hovered */
.dark-char-button:hover { background-color: rgb(220,224,226); color:#1976D2; }


/* CSS Grid Layout for Main Container */
main {
	margin: 26px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: auto 1rem 1rem 2rem 1rem 1rem auto;
	grid-column-gap: 2.5vw;
	grid-template-areas:
		"github star mathjax-logo mathjax-logo"
		"top-gutter top-gutter top-gutter top-gutter"
		"second-gutter second-gutter second-gutter second-gutter"
		"editor-button preview-button shortcut-button help-button"
		"third-gutter third-gutter third-gutter third-gutter"
		"main-screen main-screen main-screen main-screen";
}

/* Styling for View on GitHub Button and attaching to CSS Grid*/
#github {
	grid-area: github;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

/* Styling for GitHub Stars Button and attaching to CSS Grid */
#star {
	grid-area: star;
	text-align: left;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

/* Styling for Powered by MathJax Logo and attaching to CSS Grid */
#mathjax-logo {
	grid-area: mathjax-logo;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

/* Attaching gutters to the grid and bottom border on top gutter */
#top-gutter { grid-area: top-gutter; border-bottom: solid 1px #dedede; }
#second-gutter { grid-area: second-gutter; }
#third-gutter {	grid-area: third-gutter; }

/* Attaching navigation buttons to the CSS grid */
#editor-button { grid-area: editor-button; }
#preview-button { grid-area: preview-button; }
#shortcut-button { grid-area: shortcut-button; }
#help-button { grid-area: help-button; }

/* Creating another CSS Grid to hold the Editor and
Char Map. Also attaching this container to the main CSS Grid */
#main-screen {
	grid-area: main-screen;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-column-gap: 10px;
	grid-template-areas: "A A A A";
}

/* Editor is visible on page load. We use JavaScript
to toggle each of these four views  */
#editor { grid-area: A; color: black; display: block; }

/* Preview is hidden on page load. We use JavaScript
to toggle each of these four views */
#preview { grid-area: B; display: none; }

/* Shortcuts is hidden on page load. We use JavaScript
to toggle each of these four views */
#shortcuts { grid-area: C; display: none; }

/* Help is hidden on page load. We use JavaScript
to toggle each of these four views */
#help { grid-area: D; display: none; }

/* Styling for TinyMCE editor. Not 100% sure on
how the padding-top and padding-bottom work here
as I was getting some strange results */
#tinymce {
  background-color: #FFEFD5;
  min-height: 200px !important;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px !important;
  padding-right: 10px !important;
}

/* Styling for Character Map that is displayed
below the editor when the 'Char Map' button is clicked. */
#char {
	grid-area: char;
	display: none;
	justify-content: center;
	align-items: stretch;
	flex-wrap: wrap;
	flex-direction: row;
	margin: 20px auto;
	width: 50%;
	padding: 20px;
}

/* Pushes last three buttons in TinyMCE toolbar to the right */
.tox-toolbar__group:last-child { margin-left: auto!important; }

/* Remove borders from toolbar in TinyMCE */
.tox:not([dir=rtl]) {border:none;}

/* Ensure TinyMCE editor does not overflow and also center it */
.tox, .tox-toolbar, .tox-toolbar-primary {border: 1px; max-width: calc(100%-26px); margin: 0 auto;}
